/*
* Add at the beginning of the markdown file:
* <head><link rel="stylesheet" type="text/css" href="style.css"></head>
* How to use: Add <span class="the-class-you-want-to-use"></span>
*/
body{
	width: 55em;
}
.label{
	padding: 2px 5px;
	border-radius: 5px;
	color: white;
}
.blue{
	background-color: #5BC0DE;
}
.orange{
	background-color: #F0AD4E;
}
.red{
	background-color: #D9534F;
}
.todo:before{
	content: "A faire";
}
